.movie-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .movie-card {
    width: 150px;
    margin: 10px;
    text-align: center;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .movie-card h3 {
    margin-top: 10px;
    font-size: 1em;
  }
  